<div class="modal-header">
    <h4 class="modal-title pull-left">Edit {{subject?.name}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]='subjectForm' (ngSubmit)="subjectForm?.valid && updateSubject()">
        <app-text-input [formControl]='subjectForm.controls["code"]'
        [label]='"Code"'></app-text-input>
    <app-text-input [formControl]='subjectForm.controls["name"]'
        [label]='"Name"'></app-text-input>
    <app-text-input [formControl]='subjectForm.controls["lecturer"]'
        [label]='"Lecturer"'></app-text-input>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    <button type="button" [disabled]='!subjectForm?.valid' class="btn btn-success" (click)="updateSubject()">Submit</button>
</div>